simpleos/WebRoot/xsd/default/comps/content/pager_utils.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../base.xsd" />

	<xsd:attributeGroup name="pager_utils">
		<xsd:attribute name="showValidateCode" type="xsd:string" default="true" />
		<xsd:attribute name="openBlank" type="xsd:string" default="true" />
	</xsd:attributeGroup>
</xsd:schema>